* {
    margin-left: 10px;
    padding: 0;
}
.div {
    display: flex;
}
.li {
    background-color: rgb(162, 129, 194);
    width: 100px;
    font-size: 12px;
    margin: 10px;
}
.img {
    width: 40px;
}

.fav {
    background-color: green;
    width: 100px;
    font-size: 12px;
    margin: 10px;
}

