* {
    padding: 0;
    background-color: rgb(222, 232, 236);
}
.main {
    display: flex;
}

/* section search */
.container {
    display: flex;
    flex-wrap: wrap;    
}
.li {
    list-style: none; 
    margin: 5px;    
    width: 190px;        
    font-weight: bold; 
    background-color: rgb(72, 105, 94);
}
.imgSearch {
    width: 180px;    
}
.pSearch {
    background-color: rgb(72, 105, 94);
}

/* section fav */
.fav {
    list-style: none;    
}

.h3Fav {
    font-size: 12px;
}
.artFav {    
    margin: 10px;    
    width: 100px;    
}    
.imgFav {
    width: 70px;
}
.x {
    background-color: gray;
    width: 20px;
}
/****when shows are in favourites*/
.change {
   color: white;
    background-color: rgb(20, 59, 20);
    /* border: 1px solid; */
    .pSearch {
        background-color: rgb(20, 59, 20); 
    }
}


/*****button*/
button {
    background-color: rgb(64, 135, 182);
}

