* {
    padding: 0;
    
}
.header {
    background-color: rgb(72, 105, 94);
    color: rgb(222, 232, 236);
    padding-bottom: 10px;
    padding-left: 10px;
}
.main {
    display: flex;
    background-color: rgb(222, 232, 236);    
}
.h2Fav{
    font-size: 16px;
}
/* section search */
.container {
    display: flex;
    flex-wrap: wrap;    
}
.li {
    list-style: none; 
    margin: 5px;    
    width: 190px;        
    font-weight: bold; 
    background-color: rgb(72, 105, 94);
}
.imgSearch {
    width: 180px;    
}
.pSearch {
    background-color: rgb(72, 105, 94);
}

/* section fav */
.fav {
    list-style: none;    
}

.h3Fav {
    font-size: 12px;
}
.artFav {    
    margin: 10px;    
    width: 100px;    
}    
.imgFav {
    width: 70px;
}
.x {
    background-color: gray;
    width: 20px;
}
/****when shows are in favourites*/
.change {
   color: white;
    background-color: rgb(20, 59, 20);
    /* border: 1px solid; */
    .pSearch {
        background-color: rgb(20, 59, 20); 
    }
}


/*****button*/
.btn {
    background-color: rgb(64, 135, 182);
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
}

